# clamp runtime files
# - could be created if clamp is run in the working copy
.clamp
clamp.json

# phar archive files
#   - composer.phar (https://getcomposer.org/) used for testing
*.phar

# composer (https://getcomposer.org/) files
vendor/
